/*styling van de hotpot pagina zelf*/
.HotpotBody{
    background-color: #CC0701 ;

}
/*styling van het Hotpot Logo*/
.HotpotLogo{
    height: 50px;
    width:250px; 
}
/*Styling van de hotpot navbar*/
.HotpotNav{
    background-color: #ffcb00;
    float: left;
}
/*styling van de images in de hotpot table*/
.Hotpotimg{
    width: 225px;
    height: 225px;
}
/*CSS animatie die de table met hotpot gerechten de pagina in laat glijden*/
.GerechtenHotpot{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
}


/*styling van de hotpot table*/
.HotpotBody table{
    border: solid black 1px;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;

}
.HotpotBody table th{
    border: solid black 1px;
    margin: 0px;
    padding: 0px;
}
.HotpotBody table tr{
    border: solid black 1px;
    margin: 0px;
    padding: 0px;
}
.HotpotBody table td{
    border: solid black 1px;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;

}
/*styling van de rekening divs*/
.fixed{
    background-color: #fff7c6;
    float: left;
}
