/*styling van de pagina zelf*/
.HotpotBody{
    background-color: #CC0701 ;

}

/*CSS voor de grote text*/
div.c {
    font-size:  25px;
    font-family: "Helvetica";
}

/*CSS animatie die de table noodle gerechten de pagina in laat glijden*/
.GerechtenHotpot{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 0%;
    }
  
    to {
      margin-left: 100%;
    }
}

/*CSS animatie die de table met noodle de pagina in laat glijden*/
.Menu{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 200%;
    }
  
    to {
      margin-left: 0%;
    }
}

/*styling van de hotpot table*/
.HotpotBody table{

    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}
.HotpotBody table th{

    margin: 0px;
    padding: 0px;
}
.HotpotBody table tr{

    margin: 0px;
    padding: 0px;
}
.HotpotBody table td{

    margin: 0px;
    padding: 0px;
    border-spacing: 0px;

}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 100px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
/*styling van de rekening divs*/
.fixed{
    background-color: #fff7c6;
    float: left;
}
